/* Styles personnalisés pour la page Web du restaurant */

/* Style pour la section héros */
.hero {
    background-image: url('https://img.freepik.com/photos-gratuite/table-angle-eleve-pleine-arrangement-nourriture-delicieuse_23-2149141355.jpg');
    background-size: cover;
    padding: 100px 0;
    color: #fff;
  }
  
  /* Style pour la section de menu */
  .menu {
    background-color: #f9f9f9;
    padding: 50px 0;
  }
  
  /* Style pour la section À propos de nous */
  .about {
    padding: 50px 0;
  }
  
  .about img {
    max-width: 100%;
  }
  
  /* Style pour la section Contacts */
  .contact {
    background-color: #f9f9f9;
    padding: 50px 0;
  }
  
  /* Style pour le pied de page */
  .footer {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
  }
  
  .footer p {
    margin-bottom: 10px;
  }
  
  .social-icons {
    margin-top: 20px;
  }
  
  .social-icons .social-icon {
    width: 30px;
  }
  